* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_pattern {
    background-image: url("../img/pattern.png");
    background-color: lightblue;
    background-size: contain;
    height: 150px;
}

.pattern {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    position: relative;
}


.pattern img{
   width: 200px;
   height: 100px;
   position: absolute;
   left: 0;
   bottom: 0;
}

.title {
    width: 80%;
    margin: 0 auto;
}

.title h1 {
    padding-top: 5px;
    font-size: 40px;
}

#desc1 {
    color: lightslategray;
    margin-bottom: 10px;
}

#blue_text {
    color: blue;
    font-weight: 500;
}


