* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_pattern {
    background-image: url("../img/pattern.png");
    background-color: lightblue;
    background-size: contain;
    height: 100px;
}

.pattern {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    position: relative;
}


.pattern img{
   width: 200px;
   height: 50px;
   position: absolute;
   left: 0;
   bottom: 0;
}

.format {
    width: 80%;
    margin: 0 auto;
}

.firstsection h1 {
    padding-top: 5px;
    font-size: 40px;
}

.desc {
    color: lightslategray;
    margin-bottom: 10px;
}

#blue_text {
    color: blue;
    font-weight: 500;
}

.secondsection,
.fourthsection {
    padding: 15px 0;
    font-size: 18px;
}

.thirdsection {
    padding: 15px;
}

table {
    text-align: left;
    border-collapse: collapse;
}

.column25 {
    width: 25%;
}

.column50 {
    width: 50%;
}

.table_header {
    color: white;
    background-color: rgba(0, 0, 255, 0.5);
}

.special_row {
    background-color: lightblue;
}

.monitor {
    background-image: url("../img/monitor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
}

.graph {
    background-image: url("../img/graph.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
}



